# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
.next
out
build
dist

# Cache
.turbo
.vercel
.cache

# Environment
.env
.env*.local

# Misc
*.log
.DS_Store
next-env.d.ts

# Public assets (ixtiyoriy)
public/

